/* Bad */

header nav ul li a {
    ...
}


/* Good */

.primary-link {
    ...
}


/* Bad */

button strong span {
    ...
}

button strong span .callout {
    ...
}


/* Good */

button span {
    ...
}

button .callout {
    ...
}


/* Bad */

#container header nav {
    ...
}


/* Good */

.primary-nav {
    ...
}


/* Bad */

article.feat-post {
    ...
}


/* Good */

.feat-post {
    ...
}


/*Creating spriting images*/


/*
HTML:
<ul>
  <li><a href="#"><span class="bold">Bold Text</span></a></li>
  <li><a href="#"><span class="italic">Italicize Text</span></a></li>
  <li><a href="#"><span class="underline">Underline Text</span></a></li>
  <li><a href="#"><span class="size">Size Text</span></a></li>
  <li><a href="#"><span class="bullet">Bullet Text</span></a></li>
  <li><a href="#"><span class="number">Number Text</span></a></li>
  <li><a href="#"><span class="quote">Quote Text</span></a></li>
  <li><a href="#"><span class="left">Left Align Text</span></a></li>
  <li><a href="#"><span class="center">Center Align Text</span></a></li>
  <li><a href="#"><span class="right">Right Align Text</span></a></li>
</ul>

CSS:
ul {
  margin: 0;
  padding: 0;
}
li {
  float: left;
  list-style: none;
  margin: 2px;
}
li a {
  background: linear-gradient(#fff, #eee);
  border: 1px solid #ccc;
  border-radius: 3px;
  display: block;
  padding: 3px;
}
li a:hover {
  border-color: #999;
}
li span {
  background: url("sprite.png") 0 0 no-repeat;
  color: transparent;
  display: block;
  font: 0/0 a;
  height: 16px;
  width: 16px;
}
.italic {
  background-position: -16px 0;
}
.underline {
  background-position: -32px 0;
}
.size {
  background-position: -48px 0;
}
.bullet {
  background-position: -64px 0;
}
.number {
  background-position: -80px 0;
}
.quote {
  background-position: -96px 0;
}
.left {
  background-position: -112px 0;
}
.center {
  background-position: -128px 0;
}
.right {
  background-position: -144px 0;
}

CSS overflow and clearfix for dealing with issues when it comes to floats
*/

.box-set {
    overflow: auto;
}


/*Clearfix method example*/

.box-set:before,
.box-set:after {
    content: "";
    display: table;
}

.box-set:after {
    clear: both;
}

.box-set {
    *zoom: 1;
}


/* Fixed footer example CSS */

body {
    background: #eaeaed;
}

footer {
    background: #2db34a;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
}


/* Sibling selector examples */


/*

HTML:
<input type="checkbox" id="toggle">
<label for="toggle">&#9776;</label>
<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

*/


/* CSS */

input {
    display: none;
}

label,
ul {
    border: 1px solid #cecfd5;
    border-radius: 6px;
}

label {
    color: #0087cc;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 5px 9px;
    transition: all .15s ease;
}

label:hover {
    color: #ff7b29;
}

input:checked+label {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    color: #9799a7;
}

nav {
    max-height: 0;
    overflow: hidden;
    transition: all .15s ease;
}

input:checked~nav {
    max-height: 500px;
}

ul {
    list-style: none;
    margin: 8px 0 0 0;
    padding: 0;
    width: 100px;
}

li {
    border-bottom: 1px solid #cecfd5;
}

li:last-child {
    border-bottom: 0;
}

a {
    color: #0087cc;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
}

a:hover {
    color: #ff7b29;
}