/* Installing Sass: */


/* gem install sass */


/* Converting SCSS or SASS files to CSS: */


/* sass styles.scss styles.css */


/*SCSS*/

.new {
    color: #ff7b29;
    font-weight: bold;
    span {
        text-transform: uppercase;
    }
}


/*SASS*/

.new
  color: #ff7b29
  font-weight: bold
  span
    text-transform: uppercase

/* Nesting with SASS */
/*SASS*/
.portfolio
  border: 1px solid #9799a7
  ul
    list-style: none
  li
    float: left
/* Same code but in CSS */
.portfolio {
  border: 1px solid #9799a7;
}
.portfolio ul {
  list-style: none;
}
.portfolio li {
  float: left;
}

/* Styling parent selectors with SASS */
/*SASS*/
a
  color: #0087cc
  &:hover
    color: #ff7b29
/* Same code but in CSS */
a {
  color: #0087cc;
}
 a:hover {
  color: #ff7b29;
}


//Defining variables for re-use
//Variables can be a number, string, color, boolean, null, 
//or a list of values separated by spaces or commas.

//SASS
$font-base: 1em
$serif: "Helvetica Neue", Arial, "Lucida Grande", sans-serif

p
  font: $font-base $serif

//Same code but in CSS
p {
  font: 1em "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}


//Variable interpolation
$location: chicago
$offset: left

.#{$location}
  #{$offset}: 20px


//Detailed Math in SASS
$grid: 16
$column: 40px
$gutter: 20px
$container: ($column * $grid) + ($gutter * $grid)

width: $container


//Number functions in SASS
width: percentage(2.5)
width: round(2.5px)
width: ceil(2.5px)
width: floor(2.5px)
width: abs(-2.5px)
//Compiled CSS of the same code
width: 250%;
width: 3px;
width: 3px;
width: 2px;
width: 2.5px;


//Defining and using Mixins
@mixin btn($color, $color-hover)
  color: $color
  &:hover
    color: $color-hover

.btn
  +btn($color: #fff, $color-hover: #9799a7)
//Compiled CSS as the same code
.btn {
  color: #fff;
}
.btn:hover {
  color: #9799a7;
}


//Variable arguments in Mixins
@mixin box-shadow($shadow...)
  -webkit-box-shadow: $shadow
  -moz-box-shadow: $shadow
  box-shadow: $shadow

.shadows
  +box-shadow(0 1px 2px #cecfd5, inset 0 0 5px #cecfd5)
//Compiled CSS
.shadows {
  -moz-box-shadow: 0 1px 2px #cecfd5, inset 0 0 5px #cecfd5;
  -webkit-box-shadow: 0 1px 2px #cecfd5, inset 0 0 5px #cecfd5;
  box-shadow: 0 1px 2px #cecfd5, inset 0 0 5px #cecfd5;
}


//Importing multiple stylesheets into one .sass or .scss file
@import "normalize"
@import "grid", "typography"
//Compiled HTML
//<link href="styles.css" rel="stylesheet">
